.index {
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  height: 100%;
  &-scroll-content {
    flex: 1;
    height: 600px;
  }
  &-btn-box {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  &-btn-box-item {
    width: 200px;
  }
  &-list-box {
    padding: 20px;
  }
  &-list-box-title {
    font-weight: bold;
    padding: 20px;
    font-size: 30px;
  }
  &-ball-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px;
  }
  &-ball-box-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 8px;
  }
  &-ball {
    width: 60px;
    height: 60px;
    border: 1px solid gray;
    margin-right: 8px;
    // border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &-ball--active {
    background-color: red;
    color: #fff;
  }
}
